html
    head
        title= title
    body
        div#aa.aa.bb 예아
        h1 Hello Pug
        ul
            -for(let i=0; i<10; i++)
                li= `${i}번째 태그`                
            
        div= time